name: End-to-end tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    env:
      BASE_URL: ${{ secrets.BASE_URL }}
      USER: ${{ secrets.SAUCE_USER }}
      PASSWORD: ${{ secrets.SAUCE_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          config-file: cypress.config-dev.js
