name: End-to-end tests # Nome do teste
on: push # Trigger do teste
jobs:
  cypress-run:
    runs-on: ubuntu-24.04 # Máquina virtual do GitHub Actions
    env:  # Variáveis de ambiente usadas no teste
      BASE_URL: ${{ secrets.BASE_URL }}
      USER: ${{ secrets.SAUCE_USER }}
      PASSWORD: ${{ secrets.SAUCE_PASSWORD }}

    steps: # Passos do workflow
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          config-file: config-dev.js
      - uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore 
      - uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: ignore 
