name: End-to-end tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cypress run
        uses: cypress-io/github-action@v6 
    // Como eu não subi o .env.dev no repositório, estou usando secrets para armazenar as variáveis de ambiente
    env:
        BASE_URL: ${{ secrets.BASE_URL }}
        USER: ${{ secrets.SAUCE_USER }}
        PASSWORD: ${{ secrets.SAUCE_PASSWORD }}